#body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
}

#select {
    width: 100%;
    padding: 0px;
}

#custom-widget {
    max-width: 700px;
    margin: 0px;
    margin-bottom: 0;
    padding: 0px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    background-color: transparent !important;
}

#custom-widget label {
    display: block;
    margin-top: 10px;
    color: #333;
    font-weight: 500;
    margin-bottom: 8px;
}

#submission-dropdown {
    width: 350px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 0px;
    padding-right: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0px;
    border: 1px solid #ccc;
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: #2c3345;
}

#custom-widget input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    background-color: #f3f3fe;
    color: #2c3345;
}

#custom-widget input[readonly] {
    cursor: not-allowed;
}

.signature-image {
    max-width: 100%;
    height: auto;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}