#custom-widget {
    max-width: 400px;
    margin: 0px;
    font-family: Arial, sans-serif;
}

#custom-widget label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

#submission-dropdown {
    width: 310px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: #2c3345;
}

#custom-widget input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    background-color: #f3f3fe;
    color: #2c3345;
}

#custom-widget input[readonly] {
    cursor: not-allowed;
}

.signature-image {
    max-width: 100%;
    height: auto;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}